#chart1 {
  border: 1px solid red;
  width: 100%;
  height: 200px;
}


#chart2 {
  margin-top: 10px;
  border: 1px solid blue;
  width: 100%;
  height: 200px;
  overflow: initial !important;
}


#chart3 {
  margin-top: 10px;
  border: 1px solid blue;
  width: 100%;
  height: 200px;
  overflow: initial !important;
}